@font-face {
  font-family: 'Star Wars';
  src: url(../Fonts/starjedi/Starjhol.ttf);
}

@font-face {
  font-family: 'Jedi';
  src: url(../Fonts/starjedi/Starjedi.ttf);
}

.splash {
  background: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.logo {
  color: #ffda00;
  font-size: 96px;
  font-family: 'Star Wars';
}

.fade {
  width: 100vw;
  min-height: 70vh;
  position: relative;
  background: linear-gradient(0deg, transparent, black 25%);
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.enter-btn {
  font-family: 'Jedi';
  font-size: 60px;
  background: none;
  color: #56c5ea;
  border: none;
  height: 80px;
  margin-top: -15px;
  animation: glow .3s linear;
}

.enter-site {
  color: #56c5ea;
  margin-top: 0px;
  animation: glow .3s linear;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  perspective: 400px;
  height: 30vh;
}

.crawl {
  color: #ffda00;
  position: relative;
  top: 1000px;
  transform-origin: 50% 100%; 
  animation: crawl 87s linear;
  font-weight: bold;
}

.film-title {
  font-size: 80px;
  text-align: center;
}

.film-body {
  font-size: 50px;
  text-align: justify;
  line-spacing: 6px;
}

@keyframes crawl {
  0% {
    top: 300px;
    transform: rotateX(20deg) translateZ(0)
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px)
  }
}

@keyframes glow {
    to {
        text-shadow: 0 0 10px #fff;
    }
}