@keyframes button-glow {
  0% {
    box-shadow: 0 0 8px #03b9ffb0, 0 0 16px #03b9ffb0, 0 0 24px #03b9ffb0, 0 0 32px #03b9ffb0, 0 0 40px #03b9ffb0, 0 0 48px #03b9ffb0, 0 0 56px #03b9ffb0;
  }
  50% {
    box-shadow: 0 0 16px #03b9ffb0, 0 0 24px #03b9ffb0, 0 0 32px #03b9ffb0, 0 0 40px #03b9ffb0, 0 0 48px #03b9ffb0, 0 0 56px #03b9ffb0, 0 0 64px #03b9ffb0;
  }
  100% {
    box-shadow: 0 0 8px #03b9ffb0, 0 0 16px #03b9ffb0, 0 0 24px #03b9ffb0, 0 0 32px #03b9ffb0, 0 0 40px #03b9ffb0, 0 0 48px #03b9ffb0, 0 0 56px #03b9ffb0;
  }
}

.nav {
  position: relative;
}

.menu-toggler {
  background-color: blue;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  margin: auto;
  width: 150px;
  height: 150px;
  z-index: 2;
  cursor: pointer;
}

.menu-toggler:hover + label, .menu-toggler:hover + label:before, .menu-toggler:hover + label:after {
  transition: .2s linear;
  box-shadow: 0 0 16px #03b9ffb0, 0 0 24px #03b9ffb0, 0 0 32px #03b9ffb0, 0 0 40px #03b9ffb0, 0 0 48px #03b9ffb0, 0 0 56px #03b9ffb0, 0 0 64px #03b9ffb0;
}

.menu-toggler:checked ~ ul .menu-item {
  opacity: 1;
}
.menu-toggler:checked ~ ul .menu-item:nth-child(1) {
  transform: rotate(160deg) translateX(-115px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(2) {
  transform: rotate(205deg) translateX(-115px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(3) {
  transform: rotate(250deg) translateX(-115px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(4) {
  transform: rotate(295deg) translateX(-115px);
}
.menu-toggler:checked ~ ul .menu-item a {
  pointer-events: auto;
}

.menu-toggler + label {
  display: flex;
  align-items: center;
  box-shadow: 0 0 8px #03b9ffb0, 0 0 16px #03b9ffb0, 0 0 24px #03b9ffb0, 0 0 32px #03b9ffb0, 0 0 40px #03b9ffb0, 0 0 48px #03b9ffb0, 0 0 56px #03b9ffb0;
  justify-content: center;
  color: #0080b5;
  font-size: 40px;
  font-family: 'Jedi';
  width: 110px;
  height: 110px;
  z-index: 1;
  border-radius: 50%;
  transition: transform 0.5s, top 0.5s;
  position: absolute;
  top: 27px;
  left: 27px;
  margin: auto;
  animation: button-glow 1.5s ease-in-out;
  animation-iteration-count: 4; 
  animation-delay: 2.5s;
}

.menu-item:nth-child(1) a {
  transform: rotate(180deg);
}
.menu-item:nth-child(2) a {
  transform: rotate(180deg);
}
.menu-item:nth-child(3) a {
  transform: rotate(180deg);
}
.menu-item:nth-child(4) a {
  transform: rotate(180deg);
}

.menu-item {
  position: absolute;
  display: block;
  top: 48px;
  left: 50px;
  width: 80px;
  height: 80px;
  opacity: 0;
  transition: 0.5s;
}
.menu-item a {
  display: block;
  width: inherit;
  height: inherit;
  line-height: 80px;
  color: rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  pointer-events: none;
  transition: 0.2s;
}
.menu-item a:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.3);
  font-size: 44.44444px;
}