$main-blue: #03b9ffb0;

.card {
  align-items: center;
  border-radius: 4px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  justify-content: center;
  margin: 12px;
  text-align: center;
  position: relative;
  width: 300px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &:hover::after {
    border-top: 2px solid #0081ba99;
    transform: rotate(270deg);
    transition:
      transform .6s linear 0s,
      border-left-width 0s linear 0.35s; 
  }

  &:hover {
    box-shadow: 0 0 24px 1px $main-blue, 0 0 10px 1px #03b9ffd1;
    transition: 2s;
  }

  &:hover .card-info {
    display: block;
    opacity: 1;
  }

  &:hover .card-text {
    display: none;
  }

  &:hover .card-image {
    opacity: .4;
    filter: blur(2px);
    transition: .3s;
  }
}

.card-image {
  width:100%;
  height:100%;
/*  border-radius: 50%;*/
  position: absolute;
  filter: drop-shadow(5px 5px 5px #333) drop-shadow(-5px -5px 5px #333);
}

.card-text {
  bottom: 0px;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.card-info {
  opacity: 0;
  z-index: 2;
  transition: .5s;
  width: 200px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    z-index: 1;
  }
}

.favorite {
  position: absolute;
  z-index: 2;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
}

.white-saber {
  height: 55px;
  transform: scaleX(-1);
  filter: FlipH;
  filter: drop-shadow(2px 2px 5px #333);
}

.white-saber:hover {
animation: grow;
animation-duration: .5s; 
}

.white-saber { transition: all .2s ease-in-out; }
.white-saber:hover { transform: scale(1.5); }