.card {
  align-items: center;
  background-color: gray;
  border-radius: 50%;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  height: 205px;
  justify-content: center;
  margin: 14px;
  text-align: center;
  width: 205px;
}