.card-container {
  padding: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tap-to-favorite {
  color: #03b9ffb0;
  font-family: monospace;
  text-align: center;
}