// Use this file as a starting point for your project's .eslintrc. 
// By default we're using airbnb's .eslintrc

{
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "comma-dangle": ["error", "never"],
    "max-lines-per-function": ["error", 130],
    "semi": ["error", "never"],
    "no-param-reassign": [2, { "props": false }],
    "react/destructuring-assignment": [<enabled>, 'never'],
    'arrow-body-style': ["error", "as-needed", { "requireReturnForObjectLiteral": true }],
    "jsx-a11y/label-has-for": [ 2, {
            "components": [ "Label" ],
            "required": {
                "some": [ "nesting", "id" ]
            },
            "allowChildren": false,
        }]
  }
}